@charset "utf-8";
/* standard css start */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
span,
a,
table,
thead,
tfoot,
tbody,
th,
td,
form,
legend,
label,
input,
textarea,
address,
strong,
em,
pre,
q,
abbr,
acronym,
cite,
blockquote,
object,
iframe {
  margin: 0;
  padding: 0
}

body {
  font-family: 나눔고딕, Nanum Gothic, 'NanumGothic', 돋움, Dotum, Arial, sans-serif;
  font-size: 16px;
  color: #676767;
  line-height: 1;
  letter-spacing: -1px;
  -webkit-text-size-adjust: none
}

@-moz-document url-prefix() {
  body {
    letter-spacing: -0.3px
  }
}

img,
fieldset,
hr {
  border: 0;
  margin: 0;
  padding: 0
}

img {
  vertical-align: top
}

ul,
ol {
  list-style-type: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal
}

select,
input,
textarea {
  font-family: 나눔고딕, Nanum Gothic, 'NanumGothic', 돋움, Dotum, Arial, sans-serif;
  color: #676767;
  vertical-align: middle;
  letter-spacing: -1px
}

select {
  height: 18px
}

table {
  border-collapse: collapse
}

address {
  font-style: normal
}

hr {
  clear: both;
  display: none
}

legend,
caption {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden
}

a:link,
a:visited {
  color: #676767;
  text-decoration: none
}

a:hover,
a:active,
a:focus {
  color: #676767;
  text-decoration: underline
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0
}

input[type="checkbox"] {
  -webkit-appearance: checkbox
}

input[type="radio"] {
  -webkit-appearance: radio;
  -webkit-border-radius: 10px
}

.png24 {
  tmp: expression(setPng24(this))
}

.hidden {
  display: none
}

.vTop {
  vertical-align: top
}

.vMid {
  vertical-align: middle
}

.f12 {
  font-size: 12px
}

.cb {
  clear: both
}

.fl {
  float: left
}

.fr {
  float: right
}

.tx_l {
  text-align: right
}

.tx_r {
  text-align: right
}

.tx_c {
  text-align: center
}

.v_m {
  vertical-align: middle
}

.p_rel {
  position: relative
}

.d_none {
  display: none
}

.no_mb {
  margin-bottom: 0 !important
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.mb20 {
  margin-bottom: 20px !important
}