@media (max-width: 1280px) and (min-width: 769px) {
  .cont_01 .intro>.title {
    width: 779px;
    height: 260px;
    top: 110px;
  }

  .cont_09 .skills_set {
    top: 980px;
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100vw;
  }

  .cont_09 .btn_go_pop {
    margin-left: 0px;
    position: unset;
    width: 105px;
    height: 105px;
  }

  .cont_09 .level_block .level_table {
    width: 100vw;
    height: unset;
    aspect-ratio: 400 / 407;
  }

  .cont_10 .content {
    width: 100vw;
    aspect-ratio: 982 / 453;
    height: unset;
  }
}

@media (max-width: 768px) {
  .cont_01 .intro>.title {
    width: 519px;
    height: 173px;
    top: 110px;
  }

  .cont_01 .intro .right {
    width: 100vw;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }

  .cont_01 .intro .right .char {
    background-size: cover;
    background-position: 50% 50%;
    bottom: 0;
    position: absolute;
  }

  .cont_01 .intro .right .char {
    width: 996px;
    height: 450px;
  }

  .cont_01 .intro .right .char .title {
    transform: translateX(-5%) translateY(-15%);
  }

  .cont_01 .cbox .cbox_btn.right {
    width: 100vw;
    height: 450px;
  }

  .nav {
    height: 205px;
  }

  .nav .btn_go_main {
    width: 162px;
    height: 119px;
  }

  .nav .tab2_btn {
    position: relative;
    margin-left: calc(100vw - 100px);
    width: 126px;
    height: 47px;
  }

  .wrap .cont.cont_07 {
    height: 201px;
    background-image: url(../img/page/cont_07.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .wrap .cont.cont_08 {
    margin-top: 30px;
    height: 1200px;
  }

  .cont_08 .btn_char4 {
    top: unset;
    margin-left: -150px;
  }

  .cont_08 .char_txt {
    margin-left: -150px;
    top: 980px;
  }

  .cont_08>.textBox>.txt {
    width: 299px;
    height: 115px;
    background-size: cover;
  }

  .cont_09 .gallery {
    top: unset;
    margin-top: 30px;
  }

  .cont_09 .skill_title {
    top: 665px;
  }

  .cont_09 .skills_set {
    top: 780px;
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100vw;
  }

  .cont_09 .btn_go_pop {
    margin-left: 0px;
    position: unset;
    width: 70px;
    height: 70px;
  }

  .cont_09 .level_block {
    top: 980px;
  }

  .cont_09 .level_block .level_table {
    width: 100vw;
    height: unset;
    aspect-ratio: 400 / 407;
  }

  .cont_09>.textBox>.txt {
    width: 207px;
    height: 153px;
    background-size: cover;
  }

  .cont_10 .content {
    width: 100vw;
    aspect-ratio: 982 / 453;
    height: unset;
  }

  .cont_10>.textBox>.txt {
    width: 285px;
    height: 111px;
    background-size: cover;
  }
}