span.btn_span {
    font-size: 0;
    text-indent: -99999px
}

body {
    background-color: gray
}

span.btn_span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 0
}

.wrap {
    position: relative;
    max-width: 2560px;
    margin: 0 auto;
    overflow: hidden
}

.wrap>.top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%
}

.wrap>.top>.logo {
    position: absolute;
    top: 14px;
    left: 15px
}

.wrap>.top>.btns {
    position: absolute;
    top: 20px;
    right: 20px
}

.wrap>.top>.btns>ul {
    margin-bottom: 15px;
    font-size: 0;
    text-align: right
}

.wrap>.top>.btns>ul>li {
    display: inline-block;
    height: 50px;
    margin-left: 1px
}

.wrap>.top>.btns>ul>li img {
    vertical-align: top
}

.wrap>.top>.btns .today_box {
    text-align: right
}

.wrap>.top>.btns .today_box>input[type=checkbox] {
    margin: 2px 4px 0 0;
    vertical-align: top
}

.wrap .cont {
    position: relative;
    font-family: "Noto Serif TC", serif;
    letter-spacing: -0.025em;
    word-break: keep-all
}

.wrap .cont.cont_01 {
    height: 100vh;
    background-image: url(../img/page/cont_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap .cont.cont_07 {
    margin-top: 200px;
    height: 402px;
    background-image: url(../img/page/cont_07.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;
}

.wrap .cont.cont_08 {
    height: 1282px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrap .cont.cont_09 {
    height: 2600px
}

.wrap .cont.cont_10 {
    height: 1043px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap .cont.cont_11 {
    height: 1504px;
    background: url(../img/page/cont_11.png) no-repeat center 0
}

.wrap .cont.cont_12 {
    height: 834px;
    background: url(../img/page/cont_12.png) no-repeat center 0
}

.event_info_wrap {
    min-width: 1200px;
    padding: 60px 0 100px;
    margin: 0 auto;
    background: #1a1a1a
}

.event_info_wrap h2 {
    width: 1200px;
    height: 26px;
    padding: 0 44px;
    margin: 0 auto 22px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.025em;
    color: #fff
}

.event_info_wrap h2 small {
    display: inline-block;
    height: 24px;
    padding: 0 14px;
    margin-left: 6px;
    background: #8d8d8d;
    border-radius: 12px;
    font-size: 14px;
    line-height: 24px;
    vertical-align: top
}

.event_info_wrap .event_ibox {
    width: 1200px;
    padding: 30px 50px;
    margin: 0 auto;
    background: #333;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 28px;
    color: #d9d9d9
}

.gnbWrapper {
    min-width: 1390px !important
}

.cont_01 .intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

/* .cont_01 .intro .left, */
.cont_01 .intro .right {
    /* position: absolute;
    width: 3000px;
    height: 100%;
    margin-left: -1500px; */
    transition: margin-left .4s ease-in-out;
    display: flex;
    align-self: center;
    justify-content: center;
}

/* .cont_01 .intro .left .frame, */
/* .cont_01 .intro .right .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
} */

/* .cont_01 .intro .left .char, */
.cont_01 .intro .right .char {
    width: 1326px;
    height: 626px
}

/* .cont_01 .intro .left .title, */
.cont_01 .intro .right .char .title {
    width: 555px;
    height: 555px;
    transition: margin-left .4s ease-in-out
}

/* .cont_01 .intro .left .title_over, */
.cont_01 .intro .right .title_over {
    position: absolute;
    left: 50%;
    filter: blur(5px);
    opacity: 0;
    transition: all .6s ease-in-out
}

.cont_01 .intro .on:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
    backdrop-filter: blur(5px)
}

.cont_01 .intro .on .title_over {
    filter: blur(0);
    opacity: 1 !important
}

/* .cont_01 .intro .left .frame {
    background: url(../img/page/cont_01_left_bg.png) no-repeat 0 0
} */

/* .cont_01 .intro .left .char {
    left: 0;
    background: url(../img/page/cont_01_left_char.png) no-repeat left bottom;
    transition: left .4s ease-in-out
} */

/* .cont_01 .intro .left .char.breathe {
    animation: breathe1 2s infinite
} */

/* @keyframes breathe1 {
    0%,100% {
        bottom: 0px;
        margin-left: 0px
    }

    50% {
        bottom: -10px;
        margin-left: -5px
    }
} */
/* 
.cont_01 .intro .left .title {
    top: 378px;
    margin-left: -1000px;
    background: url(../img/page/cont_01_left_title.png) no-repeat 0 0
}

.cont_01 .intro .left .title_over {
    top: 719px;
    width: 365px;
    height: 104px;
    margin-left: -2px;
    background: url(../img/page/cont_01_left_title_over.png) no-repeat 0 0
}

.cont_01 .intro .left.on {
    margin-left: -1550px
}

.cont_01 .intro .left.on .char {
    left: 80px
}

.cont_01 .intro .left.on .title {
    margin-left: -880px
} */

.cont_01 .intro .right .frame {
    background: url(../img/page/cont_01_right_bg.png) no-repeat right 0
}

.cont_01 .intro .right .frame:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/page/cont_01_right_bg_deco.png) no-repeat 0 0
}

.cont_01 .intro .right .char {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    background-image: url(../img/page/cont_01_right_char.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: right .4s ease-in-out;
}

.cont_01 .intro .right .char.breathe {
    animation: breathe2 2s infinite
}

@keyframes breathe2 {

    0%,
    100% {
        bottom: 0px;
        margin-right: 0px
    }

    50% {
        bottom: -5px;
        margin-right: -3px
    }
}

.cont_01 .intro .right .char .title {
    background-image: url(../img/page/cont_01_right_title.png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    margin-left: 200px;
    margin-top: 20px;
    background-position: bottom;
}

/* .cont_01 .intro .right .title_over {
    top: 814px;
    width: 319px;
    height: 101px;
    margin-left: -699px;
    background: url(../img/page/cont_01_right_title_over.png) no-repeat 0 0
} */

.cont_01 .intro .right.on {
    z-index: 1;
    margin-left: -1450px
}

.cont_01 .intro .right.on .char {
    right: 80px
}

.cont_01 .intro .right.on .title {
    margin-left: 10px
}

.cont_01 .intro>.title {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 1376px;
    height: 280px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/page/cont_01_title.png);
}

.cont_01 .cbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.cont_01 .cbox .cbox_btn {
    position: absolute;
    bottom: 0;
    z-index: 2;
    cursor: pointer
}

.cont_01 .cbox .cbox_btn.right {
    width: 1326px;
    height: 626px;
}

.cont_01 .cbox .btn_pop {
    position: absolute;
    top: 142px;
    left: 50%;
    z-index: 2;
    width: 519px;
    height: 227px;
    transform: translateX(-50%);
    background: url(../img/page/cont_01_title_btn_pop.png) no-repeat 0 0
}

.cont_01 .cbox .btn_pop:hover {
    background-position-y: bottom
}

.cont_01.back:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background: #000
}

.tab {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%
}

.tab2 {
    background: url(../img/page/tab2_bg.jpg) no-repeat center 0
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 205px;
    background-image: url(../img/page/nav_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav.fixed {
    position: fixed
}

.nav .tab2_btn {
    margin-left: 500px;
    margin-top: -110px;
    background-image: url(../img/page/nav_btn_go_tab2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 168px;
    height: 62px;
}

.nav .btn_go_main {
    width: 216px;
    height: 158px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/page/nav_btn_go_main.png);
    cursor: pointer;
}

/* 
.ho {
    position: absolute;
    left: 50%;
    z-index: 11;
    cursor: help
}

.ho>div {
    position: absolute;
    display: none
}

.ho:hover>div {
    display: block
} */
/* 
.cont_03 .gallery li {
    position: absolute;
    left: 50%;
    z-index: 11;
    width: 320px;
    height: 210px;
    background-color: rgba(0, 0, 0, .5)
}

.cont_03 .gallery li:hover {
    background-color: rgba(0, 0, 0, 0)
}

.cont_03 .gallery li:first-child {
    width: 540px;
    height: 430px;
    margin-left: -600px
}

.cont_03 .gallery li:nth-child(1),
.cont_03 .gallery li:nth-child(2),
.cont_03 .gallery li:nth-child(3) {
    top: 611px
}

.cont_03 .gallery li:nth-child(4),
.cont_03 .gallery li:nth-child(5) {
    top: 831px
}

.cont_03 .gallery li:nth-child(2),
.cont_03 .gallery li:nth-child(4) {
    margin-left: -50px
}

.cont_03 .gallery li:nth-child(3),
.cont_03 .gallery li:nth-child(5) {
    margin-left: 280px
}

.cont_03 .ho {
    top: 427px;
    width: 514px;
    height: 226px;
    margin-left: -292px;
    background: url(../img/page/cont_03_ho.png) no-repeat 0 0
}

.cont_03 .ho>div {
    top: 176px;
    left: -77px;
    width: 738px;
    height: 417px;
    background: url(../img/page/cont_03_ho_img.png) no-repeat 0 0
} */

.bgm_info {
    position: absolute;
    top: 588px;
    left: 230px;
    width: 788px;
    height: 48px;
    padding-left: 58px;
    background-color: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    font-size: 20px;
    line-height: 48px
}

.bgm_info .visualizer {
    position: absolute;
    bottom: 16px;
    left: 20px;
    height: 16px
}

.bgm_info .visualizer .vvbox {
    position: relative;
    width: 24px;
    height: 100%
}

.bgm_info .visualizer .vvbox>span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 3px;
    height: 10%;
    background-color: #676767
}

.bgm_info .visualizer .vvbox>span:nth-child(1) {
    left: 0px
}

.bgm_info .visualizer .vvbox>span:nth-child(2) {
    left: 4px
}

.bgm_info .visualizer .vvbox>span:nth-child(3) {
    left: 8px
}

.bgm_info .visualizer .vvbox>span:nth-child(4) {
    left: 12px
}

.bgm_info .visualizer .vvbox>span:nth-child(5) {
    left: 16px
}

.bgm_info .visualizer .vvbox>span:nth-child(6) {
    left: 20px
}

.bgm_info .txt {
    color: #676767
}

.bgm_info.on .visualizer .vvbox>span {
    background-color: #01d2ff
}

.bgm_info.on .visualizer .vvbox>span:nth-child(1) {
    animation: rhythm_1 0.5s infinite ease-in-out
}

.bgm_info.on .visualizer .vvbox>span:nth-child(2) {
    animation: rhythm_2 1s infinite ease-in-out
}

.bgm_info.on .visualizer .vvbox>span:nth-child(3) {
    animation: rhythm_3 1.5s infinite ease-in-out
}

.bgm_info.on .visualizer .vvbox>span:nth-child(4) {
    animation: rhythm_4 2s infinite ease-in-out
}

.bgm_info.on .visualizer .vvbox>span:nth-child(5) {
    animation: rhythm_5 2.5s infinite ease-in-out
}

.bgm_info.on .visualizer .vvbox>span:nth-child(6) {
    animation: rhythm_6 3s infinite ease-in-out
}

@keyframes rhythm_1 {
    0% {
        height: 33%;
        opacity: 1
    }

    20% {
        height: 24%;
        opacity: .28
    }

    40% {
        height: 36%;
        opacity: .21
    }

    60% {
        height: 16%;
        opacity: .46
    }

    80% {
        height: 95%;
        opacity: .31
    }

    100% {
        height: 33%;
        opacity: 1
    }
}

@keyframes rhythm_2 {
    0% {
        height: 92%;
        opacity: 1
    }

    20% {
        height: 50%;
        opacity: .44
    }

    40% {
        height: 33%;
        opacity: .45
    }

    60% {
        height: 63%;
        opacity: .98
    }

    80% {
        height: 19%;
        opacity: .24
    }

    100% {
        height: 92%;
        opacity: 1
    }
}

@keyframes rhythm_3 {
    0% {
        height: 100%;
        opacity: 1
    }

    20% {
        height: 83%;
        opacity: .75
    }

    40% {
        height: 78%;
        opacity: .91
    }

    60% {
        height: 80%;
        opacity: .08
    }

    80% {
        height: 97%;
        opacity: .21
    }

    100% {
        height: 100%;
        opacity: 1
    }
}

@keyframes rhythm_4 {
    0% {
        height: 16%;
        opacity: 1
    }

    20% {
        height: 49%;
        opacity: .8
    }

    40% {
        height: 80%;
        opacity: .49
    }

    60% {
        height: 88%;
        opacity: .56
    }

    80% {
        height: 16%;
        opacity: .68
    }

    100% {
        height: 16%;
        opacity: 1
    }
}

@keyframes rhythm_5 {
    0% {
        height: 42%;
        opacity: 1
    }

    20% {
        height: 27%;
        opacity: .05
    }

    40% {
        height: 39%;
        opacity: .94
    }

    60% {
        height: 57%;
        opacity: .31
    }

    80% {
        height: 13%;
        opacity: .7
    }

    100% {
        height: 42%;
        opacity: 1
    }
}

@keyframes rhythm_6 {
    0% {
        height: 92%;
        opacity: 1
    }

    20% {
        height: 50%;
        opacity: .44
    }

    40% {
        height: 33%;
        opacity: .45
    }

    60% {
        height: 63%;
        opacity: .98
    }

    80% {
        height: 19%;
        opacity: .24
    }

    100% {
        height: 92%;
        opacity: 1
    }
}

.bgm_info.on .txt {
    color: #01d2ff
}

/* 
.cont_04 .btn_char {
    position: absolute;
    left: 50%;
    cursor: pointer;
    transition: margin-top .25s ease-in-out
}

.cont_04 .btn_char .bg {
    position: absolute;
    top: 51px;
    left: 121px;
    width: 0;
    height: 661px;
    overflow: hidden
}

.cont_04 .btn_char .bg .btn_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 100%;
    background: #1dc2ff url(../img/page/cont_04_btn_bg_close.png) no-repeat center center;
    box-shadow: -10px 0px 30px rgba(0, 0, 0, .7);
    cursor: pointer
}

.cont_04 .btn_char .bg .bbox {
    position: relative;
    width: 1079px;
    padding: 230px;
    box-sizing: border-box
}

.cont_04 .btn_char .bg .bbox .vbox {
    position: absolute;
    top: 68px;
    left: 230px;
    width: 600px;
    height: 200px;
    overflow: hidden
}

.cont_04 .btn_char .bg .bbox .vbox>audio {
    position: absolute;
    top: -500px;
    left: -200px
}

.cont_04 .btn_char .bg .bbox .vbox>button {
    position: absolute;
    top: 0;
    width: 136px;
    height: 44px;
    background: linear-gradient(to right, #34f9ec, #1bc9fd);
    border: none;
    border-radius: 22px;
    font: bold 20px "Pretendard", Arial, sans-serif;
    color: #1d2f34;
    cursor: pointer
}

.cont_04 .btn_char .bg .bbox .vbox .vtxt {
    position: absolute;
    top: 74px;
    left: 0;
    width: 600px;
    height: 80px;
    overflow: hidden
}

.cont_04 .btn_char .bg .bbox .vbox .vtxt>audio {
    position: absolute;
    top: -500px;
    left: -200px
}

.cont_04 .btn_char .bg .bbox .vbox>ul {
    position: absolute;
    top: 162px;
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 7px
}

.cont_04 .btn_char .bg .bbox .vbox>ul li {
    width: 24px;
    height: 24px;
    background: #0f3285;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bolder;
    line-height: 24px;
    color: #366ae3;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease
}

.cont_04 .btn_char .bg .bbox .vbox>ul li.on {
    background-color: #01fffc;
    color: #0f1a37
}

.cont_04 .btn_char .bg .bbox .ctxt {
    position: absolute;
    top: 280px;
    left: 230px;
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    color: #d8dfff
}

.cont_04 .btn_char .char {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.cont_04 .btn_char1,
.cont_04 .btn_char3 {
    top: 244px;
    width: 301px;
    height: 780px
}

.cont_04 .btn_char1 {
    margin-left: -471px
}

.cont_04 .btn_char1 .bg {
    background: url(../img/page/cont_04_btn1_bg.jpg) no-repeat 0 0
}

.cont_04 .btn_char1 .bg .bbox .vbox>button {
    left: 230px
}

.cont_04 .btn_char1 .bg .bbox .vbox .vtxt1 {
    background: url(../img/page/cont_04_btn1_txt1.png) no-repeat 0 0
}

.cont_04 .btn_char1 .bg .bbox .vbox .vtxt2 {
    background: url(../img/page/cont_04_btn1_txt2.png) no-repeat 0 0
}

.cont_04 .btn_char1 .bg .bbox .vbox .vtxt3 {
    background: url(../img/page/cont_04_btn1_txt3.png) no-repeat 0 0
}

.cont_04 .btn_char1 .char {
    background: url(../img/page/cont_04_btn1.png) no-repeat 0 0
}

.cont_04 .btn_char1:not(.on):hover .char:before,
.cont_04 .btn_char1.on .char:before {
    content: "";
    position: absolute;
    top: -16px;
    left: -13px;
    display: block;
    width: 160px;
    height: 121px;
    background: url(../img/page/cont_04_btn1_deco.png) no-repeat 0 0
}

.cont_04 .btn_char2 {
    top: 352px;
    width: 300px;
    height: 754px;
    margin-left: -160px
}

.cont_04 .btn_char2 .bg {
    background: url(../img/page/cont_04_btn2_bg.jpg) no-repeat 0 0
}

.cont_04 .btn_char2 .bg .bbox .vbox>button {
    left: 160px
}

.cont_04 .btn_char2 .bg .bbox .vbox .vtxt1 {
    background: url(../img/page/cont_04_btn2_txt1.png) no-repeat 0 0
}

.cont_04 .btn_char2 .bg .bbox .vbox .vtxt2 {
    background: url(../img/page/cont_04_btn2_txt2.png) no-repeat 0 0
}

.cont_04 .btn_char2 .bg .bbox .vbox .vtxt3 {
    background: url(../img/page/cont_04_btn2_txt3.png) no-repeat 0 0
}

.cont_04 .btn_char2 .char {
    top: 20px;
    background: url(../img/page/cont_04_btn2.png) no-repeat 0 0
}

.cont_04 .btn_char3 {
    margin-left: 150px
}

.cont_04 .btn_char3 .bg {
    background: url(../img/page/cont_04_btn3_bg.jpg) no-repeat 0 0
}

.cont_04 .btn_char3 .bg .bbox .vbox>button {
    left: 160px
}

.cont_04 .btn_char3 .bg .bbox .vbox .vtxt1 {
    background: url(../img/page/cont_04_btn3_txt1.png) no-repeat 0 0
}

.cont_04 .btn_char3 .bg .bbox .vbox .vtxt2 {
    background: url(../img/page/cont_04_btn3_txt2.png) no-repeat 0 0
}

.cont_04 .btn_char3 .bg .bbox .vbox .vtxt3 {
    background: url(../img/page/cont_04_btn3_txt3.png) no-repeat 0 0
}

.cont_04 .btn_char3 .char {
    background: url(../img/page/cont_04_btn3.png) no-repeat 0 0
}

.cont_04 .btn_char:not(.on):hover {
    margin-top: -5px
}

.cont_04 .btn_char:not(.on):hover .char {
    background-position-x: right
}

.cont_04 .btn_char.on {
    margin-top: -5px;
    transition: none
}

.cont_04 .btn_char.on .char {
    background-position-x: right
}

.cont_04 .btn_char.animate {
    cursor: default
} */
/* 
.cont_05 .ho {
    width: 373px;
    height: 56px
}

.cont_05 .ho1 {
    top: 496px;
    margin-left: -470px
}

.cont_05 .ho1>div {
    top: 34px;
    left: 107px;
    width: 580px;
    height: 360px;
    background: url(../img/page/cont_05_ho1.jpg) no-repeat 0 0
}

.cont_05 .ho2 {
    top: 560px;
    margin-left: -434px
}

.cont_05 .ho2>div {
    top: 40px;
    left: -142px;
    width: 560px;
    height: 154px;
    background: url(../img/page/cont_05_ho2.png) no-repeat 0 0
}

.cont_05 .btn_go {
    position: absolute;
    top: 1083px;
    left: 50%;
    width: 314px;
    height: 78px;
    margin-left: -378px
} */
/* 
.cont_06 .part {
    position: absolute;
    left: 0;
    width: 100%
}

.cont_06 .part1 {
    top: 409px;
    height: 1525px;
    background: url(../img/page/cont_06_part1.png) no-repeat center 0
}

.cont_06 .part1 .ho {
    height: 674px
}

.cont_06 .part1 .ho>div {
    width: 708px;
    height: 508px
}

.cont_06 .part1 .ho1 {
    top: 108px;
    width: 200px;
    margin-left: -152px
}

.cont_06 .part1 .ho1>div {
    top: 241px;
    left: -582px;
    background: url(../img/page/cont_06_part1_ho1.png) no-repeat 0 0
}

.cont_06 .part1 .ho2 {
    top: 130px;
    width: 248px;
    margin-left: 22px
}

.cont_06 .part1 .ho2>div {
    top: 176px;
    left: 196px;
    background: url(../img/page/cont_06_part1_ho2.png) no-repeat 0 0
}

.cont_06 .part1 .btn_go_soop {
    position: absolute;
    left: 50%;
    z-index: 1;
    width: 303px;
    height: 60px;
    background: url(../img/page/cont_06_part1_btn1.png) no-repeat 0 0;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .3)
}

.cont_06 .part1 .btn_go_soop:hover {
    background-position-y: bottom
}

.cont_06 .part1 .btn_go_soop1 {
    top: 389px;
    margin-left: -455px
}

.cont_06 .part1 .btn_go_soop2 {
    top: 311px;
    margin-left: 276px
}

.cont_06 .part2 {
    top: 2236px;
    height: 1124px;
    background: url(../img/page/cont_06_part2.png) no-repeat center 0
}

.cont_06 .part2 .btn_go_webtoon {
    position: absolute;
    top: 201px;
    left: 50%;
    width: 600px;
    height: 100px;
    margin-left: -304px
} */

.cont_07 .btn_go {
    position: absolute;
    left: 50%;
    height: 76px
}

.cont_07 .btn_go1 {
    top: 548px;
    width: 300px;
    margin-left: -359px
}

.cont_07 .btn_go2 {
    top: 546px;
    width: 320px;
    margin-left: 34px
}


.cont_08>.textBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cont_08>.textBox>.txt {
    z-index: 1;
    width: 597px;
    height: 230px;
    background-image: url(../img/page/cont_08.png);
    background-repeat: no-repeat;
}


.cont_08>.textBox>.description {
    text-align: center;
    line-height: 2;
    color: #6c8992;
    font-weight: 400;
    font-size: 23px;
}

.cont_08 .btn_char {
    position: absolute;
    left: 50%;
    z-index: 1;
    cursor: pointer;
    transition: margin-top .25s ease-in-out
}

.cont_08 .btn_char .bg {
    position: absolute;
    top: 51px;
    left: 121px;
    width: 0;
    height: 661px;
    overflow: hidden
}

.cont_08 .btn_char .bg .btn_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 100%;
    background-image: url(../img/page/cont_04_btn_bg_close.png);
    background-repeat: no-repeat;
    background-color: rgb(29, 194, 255);
    background-position-x: center;
    background-position-y: center;
    box-shadow: -10px 0px 30px rgba(0, 0, 0, .7);
    cursor: pointer;
}

.cont_08 .btn_char .bg .bbox {
    position: relative;
    width: 1079px;
    padding-top: 60px;
    padding-left: 230px;
    padding-right: 450px;
    box-sizing: border-box;
    line-height: 35px;
}

.cont_08 .btn_char .bg .bbox .desc {
    color: #f6cdff;
    font-weight: 500;
    font-size: 40px;
}

.cont_08 .btn_char .bg .bbox .title {
    color: #1decff;
    font-weight: bold;
    font-size: 60px;
    margin-top: 20px;
}

.cont_08 .btn_char .bg .bbox .ctxt {
    font-size: 22px;
    color: #d8dfff;
    font-weight: 400;
    word-break: break-all;
    margin-top: 20px;
}

.cont_08 .btn_char .char {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.cont_08 .btn_char4 {
    top: 346px;
    width: 301px;
    height: 780px;
    margin-left: -431px
}

.cont_08 .btn_char4 .bg {
    background-image: url(../img/page/cont_08_btn1_bg.jpg);
    background-repeat: no-repeat;
}

.cont_08 .btn_char4 .char {
    background-image: url(../img/page/cont_08_btn.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.cont_08 .btn_char4 .char:hover {
    background-image: url(../img/page/cont_08_btn_hover.png);
}

.cont_08 .btn_char4:not(.on):hover .char:before,
.cont_08 .btn_char4.on .char:before {
    content: "";
    position: absolute;
    top: 0;
    left: -500px;
    display: block;
    width: 500px;
    height: 250px;
    background-image: url(../img/page/cont_08_btn1_deco.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background: url(../img/page/cont_08_btn1_deco.png) no-repeat 0 0 */
}

.cont_08 .btn_char:not(.on):hover {
    margin-top: -5px
}

.cont_08 .btn_char:not(.on):hover .char {
    background-position-x: right
}

.cont_08 .btn_char.on {
    margin-top: -5px;
    transition: none
}

.cont_08 .btn_char.on .char {
    background-position-x: right
}

.cont_08 .btn_char.animate {
    cursor: default
}

.cont_08 .char_txt {
    z-index: 2;
    top: 638px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 622px; */
}

.cont_08 .char_txt .char_saying {
    text-align: center;
    color: #476270;
    font-weight: 400;
    font-size: 23px;
}

.cont_08 .char_txt .char_title {
    display: flex;
    align-items: center;
}

.cont_08 .char_txt .char_title .leftImg {
    background-image: url(../img/page/cont_08_leftImg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 56px;
    width: 48px;
    margin: 0 14px;
}

.cont_08 .char_txt .char_title .rightImg {
    background-image: url(../img/page/cont_08_rightImg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 56px;
    width: 48px;
    margin: 0 14px;
}

.cont_08 .char_txt .char_title .char_fullName {
    color: #75c0e6;
    font-size: 30px;
}

.cont_08 .char_txt .char_title .char_fullName .char_name {
    font-size: 50px;
    font-weight: bold;
}

/* .cont_09>.txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: url(../img/page/cont_09.png) no-repeat center 0 
} */

.cont_09>.textBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cont_09>.textBox>.txt {
    z-index: 1;
    width: 415px;
    height: 306px;
    background-image: url(../img/page/cont_09_title.png);
    background-repeat: no-repeat;
}

.cont_09>.textBox>.description {
    text-align: center;
    line-height: 2;
    z-index: 2;
    color: #6c8992;
    font-weight: 400;
    font-size: 23px;
}

.cont_09 .mov_bg {
    position: absolute;
    top: -720px;
    left: 0;
    width: 100%;
    height: 2190px
}

.cont_09 .mov_bg video {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.cont_09 .mov_bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/page/cont_09_bg.png) no-repeat center 0
}

.cont_09 .deco {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d
}

.cont_09 .deco1 {
    top: 1200px;
    width: 433px;
    height: 474px;
    margin-left: -1073px;
    background: url(../img/page/cont_09_deco1.png) no-repeat 0 0
}

.cont_09 .deco2 {
    top: 2073px;
    width: 315px;
    height: 287px;
    margin-left: -1030px;
    background: url(../img/page/cont_09_deco2.png) no-repeat 0 0
}

.cont_09 .deco3 {
    top: 1435px;
    width: 293px;
    height: 294px;
    margin-left: 673px;
    background: url(../img/page/cont_09_deco3.png) no-repeat 0 0
}

.cont_09 .deco4 {
    top: 1725px;
    width: 232px;
    height: 222px;
    margin-left: 912px;
    background: url(../img/page/cont_09_deco4.png) no-repeat 0 0
}

.cont_09 .deco5 {
    top: 2140px;
    width: 446px;
    height: 457px;
    margin-left: 716px;
    background: url(../img/page/cont_09_deco5.png) no-repeat 0 0
}

.cont_09 .deco1 {
    animation: shake1 4s ease-in-out infinite
}

.cont_09 .deco2 {
    animation: shake2 3s ease-in-out infinite
}

.cont_09 .deco3 {
    animation: shake2 4.5s ease-in-out infinite
}

.cont_09 .deco4 {
    animation: shake1 3s ease-in-out infinite
}

.cont_09 .deco5 {
    animation: shake2 3s ease-in-out infinite
}

@keyframes shake1 {
    0% {
        margin-top: 0;
        transform: rotateY(0deg)
    }

    50% {
        margin-top: 20px;
        transform: rotateY(30deg)
    }

    100% {
        margin-top: 0;
        transform: rotateY(0deg)
    }
}

@keyframes shake2 {
    0% {
        margin-top: 0;
        transform: rotateY(0deg)
    }

    50% {
        margin-top: -20px;
        transform: rotateY(-30deg)
    }

    100% {
        margin-top: 0;
        transform: rotateY(0deg)
    }
}

.cont_09 .gallery {
    position: absolute;
    left: 50%;
    z-index: 11;
    background-color: rgba(0, 0, 0, .5)
}

.cont_09 .gallery:hover {
    background-color: rgba(0, 0, 0, 0)
}

.cont_09 .gallery {
    background-image: url(../img/page/cont_09_previewImg.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 458px;
    width: 909px;
    height: 388px;
    transform: translateX(-50%);
}

.cont_09 .gallery a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    /* 半透明灰幕 */
}

.cont_09 .skill_title {
    top: 900px;
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.cont_09 .skill_title p,
.cont_09 .level_title p {
    color: #f6cdff;
    font-weight: 500;
    font-size: 40px;
}

.cont_09 .skill_title .leftImg,
.cont_09 .skill_title .rightImg,
.cont_09 .level_block .level_title .leftImg,
.cont_09 .level_block .level_title .rightImg {
    background-image: url(../img/page/subtitle_icon.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin: 0 14px;
}

.cont_09 .level_block {
    top: 1205px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.cont_09 .level_block .level_title {
    display: flex;
    align-items: center;
}

.cont_09 .level_block .level_desc {
    color: #6c8992;
    font-weight: 400;
    font-size: 23px;
}

.cont_09 .level_block .level_table {
    background-image: url(../img/page/cont_09_table.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1200px;
    height: 1221px;
    margin-top: 30px;
}

.cont_09 .btn_go_pop {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 1005px;
    left: 50%;
    width: 140px;
    height: 140px;
    cursor: pointer;
}

.cont_09 .btn_go_pop1 {
    margin-left: -545px;
    background-image: url(../img/page/cont_09_skill1.png);
}

.cont_09 .btn_go_pop2 {
    margin-left: -386px;
    background-image: url(../img/page/cont_09_skill2.png);
}

.cont_09 .btn_go_pop3 {
    margin-left: -227px;
    background-image: url(../img/page/cont_09_skill3.png);
}

.cont_09 .btn_go_pop4 {
    margin-left: -68px;
    background-image: url(../img/page/cont_09_skill4.png);
}

.cont_09 .btn_go_pop5 {
    margin-left: 91px;
    background-image: url(../img/page/cont_09_skill5.png);
}

.cont_09 .btn_go_pop6 {
    margin-left: 250px;
    background-image: url(../img/page/cont_09_skill6.png);
}

.cont_09 .btn_go_pop7 {
    margin-left: 408px;
    background-image: url(../img/page/cont_09_skill7.png);
}

.cont_10>.textBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cont_10>.textBox>.txt {
    z-index: 1;
    width: 570px;
    height: 223px;
    background-image: url(../img/page/cont_10_title.png);
    background-repeat: no-repeat;
}

.cont_10>.textBox>.description {
    text-align: center;
    line-height: 2;
    z-index: 2;
    color: #6c8992;
    font-weight: 400;
    font-size: 30px;
}

.cont_10 .content {
    background-image: url(../img/page/cont_10_content.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 982px;
    height: 453px;
}

.cont_10 .btn_go {
    width: 385px;
    height: 162px;
    background-image: url(../img/page/cont_10_btn.png);
    margin-top: 30px;
}

/* .cont_11 .btn_go {
    position: absolute;
    top: 0;
    left: 50%
}

.cont_11 .btn_go1 {
    top: 271px;
    width: 600px;
    height: 100px;
    margin-left: -299px
}

.cont_11 .btn_go2,
.cont_11 .btn_go3 {
    width: 430px;
    height: 77px
}

.cont_11 .btn_go2 {
    top: 713px;
    margin-left: -520px
}

.cont_11 .btn_go3 {
    top: 668px;
    margin-left: 90px
} */

.btn_go_top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 11;
    display: none;
    width: 92px;
    height: 91px;
    background: url(../img/page/btn_top.png) no-repeat 0 0
}

.pop_dimmed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000000;
    display: none;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(3px)
}

.pop_close {
    position: absolute;
    left: 50%;
    cursor: pointer
}

.pop_mov {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000001;
    display: none;
    width: 960px;
    height: 540px;
    padding-top: 158px;
    margin-top: -349px;
    margin-left: -480px;
    background: url(../img/page/pop_mov.png) no-repeat center 0
}

.pop_mov .pop_close {
    top: 0;
    width: 61px;
    height: 67px;
    margin-left: -31px
}

.pop_mov iframe {
    width: 100%;
    height: 100%
}

.pop_wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(3px)
}

.pop_wrap .pop_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.pop_wrap .pop_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto
}

.pop_wrap .pop_box .pop {
    position: relative;
    display: none;
    width: 100%;
    padding-top: 72px
}

.pop_wrap .pop_box .pop .skill_area {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.pop_wrap .pop_box .pop .skill_area .title {
    font-weight: bold;
    margin-top: 50px;
    background: #948FFF;
    background: linear-gradient(27deg, rgba(148, 143, 255, 1) 0%, rgba(83, 87, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}

.pop_wrap .pop_box .pop .skill_area .desc {
    color: #8c87ff;
    font-weight: 300;
    margin-top: 20px;
    font-size: 25px;
}

.pop_wrap .pop_box .pop .skill_area .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pop_wrap .pop_box .pop .skill_area .subContent {
    width: 500px;
    height: 400px;
    border-style: dashed;
    border-width: 1px;
}

.pop_wrap .pop_box .pop .skill_area .subContent .subTitle_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pop_wrap .pop_box .pop .skill_area .subContent .subTitle_block .leftImg {
    background-image: url(../img/page/skill-left.png);
    background-repeat: no-repeat;
    width: 112px;
    height: 30px;
}

.pop_wrap .pop_box .pop .skill_area .subContent .subTitle_block .rightImg {
    background-image: url(../img/page/skill-right.png);
    background-repeat: no-repeat;
    width: 112px;
    height: 30px;
}

.pop_wrap .pop_box .pop .skill_area .subContent .subTitle_block .subTitle {
    color: #fff;
    font-weight: 500;
    font-size: 35px;
}

.pop_wrap .pop_box .pop .skill_area .subContent .subDesc {
    margin-top: 20px;
    line-height: 1.3;
    color: #8889bd;
    font-weight: 400;
    font-size: 23px;
}

.pop_wrap .pop_box .pop .skill_area .subContent .subDesc .hint {
    background-color: #8889bd;
    color: #cdceee;
    font-weight: 400;
    font-size: 23px;
}

.pop_wrap .pop_box .pop .pop_close {
    top: 12px;
    width: 49px;
    height: 49px;
    margin-left: -24px;
    background: url(../img/page/pop_close.png) no-repeat 0 0
}

.pop_wrap .pop_box .pop .v {
    width: 468px;
    height: 369px;
}

.pop_wrap .pop_box .pop .v video {
    width: 100%;
    height: 100%;
    margin-left: -20px;
}

.pop_wrap .pop_box .pop {
    height: 585px;
    background-image: url(../img/page/cont_09_pop.png);
    background-repeat: no-repeat;
    background-position-y: 72px;
}

/* .pop_wrap .pop_box .pop.s9p2 {
    height: 780px;
    background: url(../img/page/cont_09_pop2.jpg) no-repeat center 72px
}

.pop_wrap .pop_box .pop.s9p3 {
    height: 780px;
    background: url(../img/page/cont_09_pop3.jpg) no-repeat center 72px
}

.pop_wrap .pop_box .pop.s9p4 {
    height: 780px;
    background: url(../img/page/cont_09_pop4.jpg) no-repeat center 72px
}

.pop_wrap .pop_box .pop.s9p5 {
    height: 780px;
    background: url(../img/page/cont_09_pop5.jpg) no-repeat center 72px
}

.pop_wrap .pop_box .pop.s9p6 {
    height: 780px;
    background: url(../img/page/cont_09_pop6.jpg) no-repeat center 72px
}

.pop_wrap .pop_box .pop.s9p7 {
    height: 780px;
    background: url(../img/page/cont_09_pop7.jpg) no-repeat center 72px
} */

@media (max-width: 768px) {
    .wrap {
        min-width: unset;
    }
}